body {
  height: 100%;
  background-image: linear-gradient(to top left, black 60%, darkgreen);
  color: #1EB954;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

h1 {
  align: center;
  color: #1EB954;
}

.top-bar {
  background-image: linear-gradient(to bottom left, black 60%, darkgreen);
}

.top-bar ul, .top-bar a {
  background-color: transparent;
  color: white;
  font-size: 30px;
}

img {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  display: block;
}

img:hover {
  opacity: 0.8;
  filter: alpha(opacity=50);
}

.tile-position {
  float:left;
  padding: 40px;
  list-style-type: none;
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .4s ease;
  background-color: gray;
}

.container {
  position: relative;
}

.container:hover .overlay {
  opacity: .90;
  border-radius: 50%;
}

.tile-info {
  font-family: fantasy, cursive;
  color: #1EB954;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.index-header {
  text-align: center;
  color: #1EB954;
}

.profile-pic {
  width: 50px;
  height: 50px;
}

nav {
  background-color: black;
}

a {
  color: black;
}

a:hover {
  transition: 2s;
  color: #1EB954;
}

.field {
  margin: auto;
  width: 500px;
}

.input-field {
  background-color: black;
  color: #1EB954;
}

.input-field:focus {
  background-color: black;
}

.actions {
  margin: auto;
  width: 500px;
}

.top-bar {
  background-color: black;
}
