body {
  height: 100%;
  background-image: linear-gradient(to top left, black 40%, orange);
  color: #1EB954;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.music {
  padding-left: 10px;
  margin-left: 70px;
}

 top-bar-section {
  text-decoration: none;
}

h1 {
  text-align: center;
  color: #1EB954;
  margin: auto;
}

h2 {
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
}

span {
  color: white;
}

h3,h4,h5,h6,p {
  color: white;
  text-align: center;
  font-family:'Muli', sans-serif;
}

.title {
  text-shadow: 5px 2px black;
}

.album-rating {
  text-shadow: 3px 2px black;
}

.button {
  display: block;
  background-color: tan ;
  color: white;
  border-radius: 10px;
  margin: auto;
  margin-top: 10px;
  width: 200px;
}

.top-bar {
  background-image: linear-gradient(to bottom left, black 40%, orange);
  a {
    background-color: transparent;
    color: white;
    font-size: 30px;  }
  ul {
    background-color: transparent;
    color: white;
    font-size: 10px;
  }
}

img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

img:hover {
  opacity: 0.8;
  filter: alpha(opacity=50);
}

.tile-position {
  float:left;
  padding: 40px;
  list-style-type: none;
}

.tile-position {
  float:left;
  padding: 60px;
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .4s ease;
  background-color: gray;
}

.container {
  position: relative;
}

.container:hover .overlay {
  opacity: .90;
  border-radius: 50%;
}

.tile-info {
  font-family: 'Muli', sans-serif;
  text-shadow: 5px 5px 8px #000000;
  color: white;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  margin: auto;
}

.index-header {
  text-align: center;
  color: white;
  align-items: center;
}

.profile-pic {
  width: 50px;
  height: 50px;
}

nav {
  background-color: black;
}

a {
  color: black;
}

a:hover {
  transition: 2s;
  color: #1EB954;
}

.field {
  margin: auto;
  width: 500px;
}

.input-field {
  background-color: black;
  color: #BB5A0B;
}

.input-field:focus {
  background-color: black;
}

.actions {
  margin: auto;
  width: 500px;
}

.profile-photo {
  align-items: left;
  height: 70px;
  width: 70px;
  display: inline;
  margin-bottom: 10px;
}

.reviews-box {
  padding: 10px 20px 10px 20px;
  align-content: center;
  box-shadow: 5px 5px 30px  white;
  width: 500px;
  margin: 70px auto;
  display: center;
  background-color: black;
  opacity: 60%;
  text-align: center;
}

.email {
  color: white;
  font-size: 25px;
  // display: inline;
  padding-left: 5px;
}

.text {
  color: white;
  font-size: 25px;
}

.rating {
  color: white;
}

.date {
  color: white;
}

.artist {
  color: white;
  font-size: 50px;
  text-shadow: 5px 5px black;
}
.album {
  color: white;
  font-size: 55px;
  text-shadow: 5px 5px black;
}

.avgrating {
  color: white;
  font-size: 30px;
  text-shadow: 3px 0 black;
}

.year {
  color: white;
  font-size: 30px;
  text-shadow: 3px 0 black;
}

.genre {
  color: white;
  font-size: 20px;
  text-shadow: 3px 0 black;
}


.fas.fa-volume-up {
  color: green;
  padding: 5px;
}

.fas.fa-volume-off {
  color: red;
  padding: 5px;
}

.show-page {
  text-align: center;
}

form {
  display: black;
  margin-left: auto;
  margin-right: auto;
  width: 20%
}
 li {
   list-style: none;
 }
