a{
  color: black;
}

a:hover{
  transition: 2s;
  color: #1EB954;
}

.field{
  margin: auto;
  width: 500px;
}

.field:focus{

}

.input-field{
  background-color: black;
  color: #1EB954;
}

.input-field:focus{
  background-color: black;
}

.actions{
  margin: auto;
  width: 500px;
}

.actions:hover{

}
